<!DOCTYPE HTML>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width initial-scale=1"/>
  <link rel='stylesheet' href='../../dist/marionette-widget-gridview.min.css'/>
  <link rel="stylesheet" href="../../src/lib/gridstack/gridstack.min.css" >
  <link rel="stylesheet" href="../custom.css" >
  <style>
    .grid-btn {
      margin: 10px;
    }
  </style>

  <title>Example using localStorage</title>
</head>
<body>

<button type="button" id="btn-add-widget" class="grid-btn">Add Widget!</button>
<button type="button" id="btn-remove-all-widget" class="grid-btn">Remove all widgets</button>
<button type="button" id="btn-render" class="grid-btn">Render</button>
<span> Gridstack options :  </span>
<input type="checkbox" id="gsoption-float"> Float
<input type="checkbox" id="gsoption-animate"> Animate
<div id="main-container"></div>


<script src="../../node_modules/jquery/dist/jquery.min.js"></script>
<script src="../../src/lib/jquery-ui/jquery-ui.min.js"></script>
<script src="../../node_modules/underscore/underscore-min.js"></script>
<script src="../../node_modules/backbone/backbone-min.js"></script>
<script src="../../node_modules/backbone.marionette/lib/backbone.marionette.min.js"></script>
<script src="../../src/lib/gridstack/gridstack.min.js"></script>
<script src="backbone.localstorage/backbone.localStorage-min.js"></script>
<script src="../../dist/marionette.gridview.js"></script>

<script>
  var CustomWidgetView = Marionette.GridView.WidgetView.extend({
      template: _.template('<div class="some-widget"><button class="close-btn">X</button><p><%= position() %></p></div>'),
      ui:       {
        close: '.close-btn'
      },
      triggers:   {
        'click @ui.close': 'remove:widget'
      },

      templateHelpers: function() {
        return {
          position: function() {
            return '(' + this.x + ',' + this.y + ')';
          }
        };
      }
    }),
    ButtonWidgetView = CustomWidgetView.extend({
      template: _.template('<div class="some-widget"><button class="close-btn">X</button><br><input type="text" name="Position" value=<%= position() %>></div>')
    }),
    CustomWidgetList = Marionette.GridView.WidgetList.extend({
      localStorage: new Backbone.LocalStorage("widgetlist-storage")
    });

  var saveCollectionOnLocalStorage = function(collection, options) {
      var storage = window.localStorage.getItem('widgetlist-storage');
      if (!_.isEmpty(storage)) {
        var keys = storage.split(',');
        _.each(keys, function(key) {
          window.localStorage.removeItem('widgetlist-storage-' + key);
        });
      }
      collection.each(function(model) {
        model.save(null, { silent: true });
      });
    },
    gridstackOptions =  {
      vertical_margin: 20,
      animate: $('#gsoption-animate').is(':checked'),
      float: $('#gsoption-float').is(':checked'),
      height: 10,
      width: 10
    },
    helperMessages = {
      NOT_ENOUGH_SPACE: 'Not enough free space to add that last widget',
      GRID_NOT_RENDERED_BEFORE_ADD: 'The grid view needs to be rendered before trying to add widgets to the view',
      GRID_NOT_RENDERED_BEFORE_REMOVE: 'The grid view needs to be rendered before trying to remove widgets from the view',
      GRID_NOT_RENDERED_BEFORE_RESET: 'The grid view needs to be rendered before trying to reset the view'
    };

  var newId = 0,
    views = { CustomWidgetView: CustomWidgetView, ButtonWidgetView: ButtonWidgetView },
    arrViews = ["ButtonWidgetView", "CustomWidgetView"],
    widgets = new CustomWidgetList(),
    gridview = new Marionette.GridView.WidgetGridView({
      collection:  widgets,
      customViews: views,
      autoPos:     false,
      logHelper: {
        callback: console.log,
        context: console,
        messages: helperMessages,
        options: {}
      },
      autoSave: { callback:  saveCollectionOnLocalStorage },
      gsOptions:   gridstackOptions
    });

  $('#main-container').html(gridview.$el);
  gridview.render();
  widgets.fetch();
  gridview.setAutoPos(true);

  widgets.each(function(wdgt) {
    if (wdgt.get('widgetId') > newId) {
      newId = wdgt.get('widgetId');
    }
  });

  var randomView = function() {
    return arrViews[Math.floor((Math.random() * arrViews.length))];
  };
  $("#btn-add-widget").click(function() {
    newId++;
    gridview.collection.add(new Marionette.GridView.Widget({
      type:     'button',
      viewType: randomView(),
      name:     'some widget',
      width:    2,
      height:   2,
      x:        0,
      y:        0,
      widgetId: newId
    }));
  });

  $("#btn-remove-all-widget").click(function() {
    gridview.collection.reset();
  });

  $("#btn-render").click(function() {
    gridview.setGridstackOptions(getGridstackOptions());
    gridview.setAutoPos(false);
    gridview.render();
    gridview.setAutoPos(true);
  });

</script>
</body>
</html>